<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Название"/>
            <input type="text" name="prodtype" placeholder="Тип"/>
            <input type="text" name="price" placeholder="Цена"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Фильтровать по типу</div>
        <form method="post" action="filter">
            <input type="text" name="filter">
            <button type="submit">Найти</button>
        </form>
    <div>Удалить по id</div>
        <form method="post" action="dell">
            <input type="text" name="dell">
            <button type="submit">Удалить</button>
        </form>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{prodtype}}</i>
        <i>{{price}}</i>
    </div>
    {{/messages}}
</body>
</html>